<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014094159184-4hiivuedlsu7uv880e24seums1t0o78a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014094159184-4hiivuedlsu7uv880e24seums1t0o78a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014094159184-drm2821oree4dh56vf37ulu2ui82dfve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYq3M3ZNIuygRYIUt4cEnCihlTBDkzn8o</string>
	<key>GCM_SENDER_ID</key>
	<string>1014094159184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackthenorth</string>
	<key>PROJECT_ID</key>
	<string>hackthenorth2021-b6e36</string>
	<key>STORAGE_BUCKET</key>
	<string>hackthenorth2021-b6e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014094159184:ios:0477ab4906809d03c1e055</string>
</dict>
</plist>